<!DOCTYPE html>
<%- include('../partials/header')  %> 
<%- include('../partials/nav') %>

<body>
    <h2> Edit Comment </h2>
    <form action="/post/<%= comment._id %>/comment?_method=PUT" method="POST">
        <label>Post:</lable>
        <input type="text" placeholder='<%= comment.commentContent%>' name = 'commentContent' value = '<%= comment.commentContent%>'>
        <label >Rating:</lable>
        <select type='number' name="commentRating" placeholder='<%=comment.commentRating%>' value ='<%= comment.commentRating%>' >
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select>
        <input type="submit" value="Post">
    </form>
</body>